# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleApp4.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Youcode\RiderProjects\ConsoleApp4\.idea\.idea.ConsoleApp4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
